<div class="blog-header"> 
  <h1 class="blog-title">
    WELCOME TO FRIENDBOOK, <%= current_user.name %>!
  </h1> 
</div>

<p><%= link_to "Find Friends", users_path %></p>
<p><%= link_to "Friends", friendships_path %></p>
<p><%=  link_to 'Sign Out', "/", method: :delete %></p>