<br><br>
<div class="well">
    <div class="row">
        <div class="col-xs-8">
            <img class="img-circle"
            src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
            alt="User Pic">
            <strong><%= @inverse_friend.name %></strong><br>
        </div>
    </div>
</div>
