<h2>Your Friends</h2>
<ul>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-1">
      <% unless current_user.friendships.empty? %>
      <% for @friendship in current_user.friendships %>
      <%= render 'friendships/friends_row' %>
      <% end %>  
      <% else %>
      <div> empty! </div>
      <% end %>
    </div>
  </div>
</ul>
<% unless current_user.inverse_friends.empty? %>
<h2> Users who have Befriended You </h2>
<ul>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-1">
      <% for @inverse_friend in current_user.inverse_friends %>
      <%=  render 'friendships/inverse_friends_row' %>
      <% end %>
    </div>
  </div>
</ul>
<% end %>