
<div class="col-md-8">
  <% for post in @posts %>
  <div class="corgi_feed_well">
    <div class="individual_feed_item">
      <div class="feed_item">
        <div class="feed_body">
          <div class="row">
            <div class="feed_profile_pic">
              <%= image_tag post.user.avatar.url, alt: "meta image", class: :meta_image %>
            </div>
            <div class="feed_text">
              <p> <%= post.body  %> </p>
            </div>
          </div>
        </div>
        <div class="comment_area">
          <p>Add a comment</p>
          <form>
            <textarea rows="3" class="span6"></textarea><br>
            <input type="submit" class="btn">
          </form>
        </div>
        <div class="bottom_meta">
          <div class="row">
            <div class="bottom_left">
              <div class="share_wrapper">
              </div>
            </div>
            <div class="bottom_right">
              <a><%= post.user.name %></a> <span>|</span> <a href="#" class="show_comment_link">comment</a> <span>|</span> 2 days ago
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
