<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
   <a class="navbar-brand" href="/"> Friendbook </a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
      <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a data-method="delete" href="/" rel="nofollow">Logout</a></li>
      <li><a href="friendships">Friends</a></li>
      <li><a href="users">Find</a></li>
    </ul>
  </div>
</nav>